# Configures builds for all branches and deployment on the "main" branch.

language: node_js
node_js: node

stages:
  - lint
  - test
  - name: deploy
    if: branch = main AND env(FIREBASE_TOKEN) IS present

jobs:
  include:
    - name: 'Run Linter'
      script: npm run lint
    - name: 'Run Tests'
      stage: test
      script: npm test
    - name: 'Deploy Production App'
      stage: deploy
      script: npm run build
      deploy:
        provider: firebase
        edge: true
