#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  flex: auto;
  align-self: center;
}

.top-bar {
  background-color: rgb(77, 77, 77);
  padding: 20px 30px 20px 30px;
}

.top-bar-nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: rgb(150, 150, 150);
}

.top-bar-nav-link:hover {
  color: rgb(200, 200, 200);
}

.active-top-bar-nav-link {
  color: white;
}

.content {
  margin: 2%;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin: '20px';
  max-width: '500px';
}

.profile-button {
  margin-right: 20px;
}

.register-button {
  float: right;
}

td {
  border: 2px solid black;
  padding: 2px;
}

th {
  border: 2px solid black;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
